@font-face {
    font-family: 'nanum';
    src: url(./fonts/NanumPenScript-Regular.ttf)
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: #f6eee3;
    border: 2px solid black;
    border-radius: 5px;
    width: 80vw;
}

header, footer {
    max-height: 6vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

header  div {
    font-size: 3.2rem;
    font-family: 'nanum', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

header {
    border-bottom: 1px dashed black;
    min-height: 30px;
}

#center-header {
    margin-left: auto;
    margin-right: auto;
}

#open-form {
    background: none;
    font-family: 'nanum', Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-size: 2rem;
}

.header-edge {
    width: 200px;
}

main {
    min-height: 88vh;
    display: flex;
    flex-direction: row;
}

#right-column, #left-column {
    display: flex;
    flex-direction: column;
}

#left-side, .list-button {
    border-right: 1px black solid;
    min-width: 50px;
    width: 20vw;
}

.list-button {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed black;
    font-family: 'nanum', Arial, Helvetica, sans-serif;
    height: 30px;
    font-size: 1.5rem;
    text-align: left;
}

#add-list {
    text-align: right;
}

button:hover {
    font-weight: 700;
}

form {
    display: none;
}

footer {
    border-top: 1px dashed black;
    justify-content: center;
}
